<div #container>
  <ejs-chart #chart [primaryXAxis]='xAxismodel' (chartMouseClick)='mouseClick($event)' title="Main chart">
    <e-series-collection>
      <e-series [dataSource]='data' xName='x' yName='y' type='Column'></e-series>
    </e-series-collection>
  </ejs-chart>
</div>


<ejs-dialog id='dialog' #ejDialog [target]='targetElement' width='250px' [visible]='show' showCloseIcon='false'>
  <ng-template #content>     
       <ejs-chart *ngIf='firstDrill' [title]="firstTitle" [primaryXAxis]='xAxismodel' (chartMouseClick)='mouseClickFirst($event)'>
          <e-series-collection>
              <e-series [dataSource]='dataFirst' xName='x' yName='y' type='Column'></e-series>
            </e-series-collection>
       </ejs-chart>
       <ejs-chart *ngIf='!firstDrill' [title]="secondTitle" [primaryXAxis]='xAxismodel' (chartMouseClick)='mouseClickSecond($event)'>
          <e-series-collection>
              <e-series [dataSource]='dataSecond' xName='x' yName='y' type='Column'></e-series>
            </e-series-collection>
       </ejs-chart>   
  </ng-template>
 
</ejs-dialog>